#content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    ". titleDom descDom ."
    ". taskBody taskBody ."
    ". taskBody taskBody ."
    
    ;
}

#taskBody{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-area: taskBody;
    grid-template-areas: 
    ". titleDisplay . ."
    ". descDisplay . ."
    
    ;
}
#titleDom{
    grid-area: titleDom;
}

#descDom{
    grid-area: descDom;
}

#titleDisplay{
    grid-area: titleDisplay;
}

#descDisplay{
    grid-area: descDisplay;
}