#content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "sidebar taskBody taskBody ."
    "sidebar display display ."
    "sidebar display display ."
    
    ;
}

#sidebar{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "inbox"
    "today"
    "thisWeek"
    "Projects"
    "."
    "addProjects";
}

#taskBody{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-area: taskBody;
    grid-template-areas: none;
}

#display{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-area: display;
    grid-template-areas:
     ". title0 desc0 ." 
     ". title1 desc1 .";
}


#inbox{
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr;
    /* max-width: 400px; */
    grid-template-areas: "image . .";
    padding-left: 10px;
}

#inboxImage{
    display:block;
    width: 30px;
    height: auto;
    grid-area: image;
}

#today{
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr;
    /* max-width: 400px; */
    grid-template-areas: "image . .";
    padding-left: 10px;
}

#todayImage{
    display:block;
    width: 30px;
    height: auto;
    grid-area: image;
}

#thisWeek{
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr;
    /* max-width: 400px; */
    grid-template-areas: "image . .";
    padding-left: 10px;
}

#calendarImage{
    display:block;
    width: 30px;
    height: auto;
    grid-area: image;
}

#titleDom{
    grid-area: titleDom;
}

#descDom{
    grid-area: descDom;
}

#title0{
    grid-area: title0;
}

#desc0{
    grid-area: desc0;
}

#title1{
    grid-area: title1;
}

#desc1{
    grid-area: desc1;
}

